.screen{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 130px;
}
.box{
    display: flex;
}
.top{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
    font-family: 'Righteous';

}
.top span{
    margin-left: 15px;
    font-size: 36px;
    color: white;
}

.card{
    width: 300px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    background-color: white;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    margin-bottom: 25px;
    font-family: 'Recursive';
    cursor: pointer;
}

.footer{
    position: fixed;
    bottom: 0;
    background-color: white;
    width: 100%;
    padding: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    font-family: 'Recursive';
}
.footer div,.footer h3,.footer span{
    margin-bottom: 5px;
}
.questOpen{
    width: 300px;
    height: 130px;
    background-color: #FFFFD4;
    font-family: 'Recursive';
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 25px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}

.questOpen img{
    position: absolute;
    right: 10px;
    bottom: 6px;
    cursor: pointer;
}

.choice{
    width: 85px;
    height: 37px;
    text-align: center;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 12px;
    cursor: pointer;
}

.vermelho{
    background-color: #FF3030;
}
.verde{
    background-color: #2FBE34;
}
.amarelo{
    background-color: #FF922E;
}

.etapa4{
    cursor:auto;
}
.etapa4 span{
    text-decoration: line-through;
}

.yellow{
    color: #FF922E;
}

.green{
    color: #2FBE34;
}

.red, ion-icon .green{
    color: #FF3030;
}
.flex{
    display: flex;
    justify-content: space-between;
}
ion-icon .yellow{
    color: #FF3030;
}